body
{
background-color: lightgray;
}

footer
{
  margin-top:50px;
}
 img
 {
   border-radius: 10px;
 }

 #contenedorestudios{
   font-family: helvetica;
   font-size: 16px;
 }

 #Encabezadoestudios{
   display: block;
   margin: 0 auto;
 }

 .linkfoot{
   font-family: impact;
   font-size: 14px;
 }

a[href^='html']{
  color: magenta;
}

*{
  margin: 1vh 1vw;

}

h1 + h2{
  text-decoration: underline;
}

h2 ~ p {
  text-align: justify;
}

article> h2 {
  text-decoration: underline;
}

ul li {
  list-style-type: square;
}

a[href^='html']:visited{
  color: purple;
}

a:hover{
  color:pink;
}

h2:first-child{
  text-decoration: underline;
}

input:focus{
  width: 160px;
  height: 140px;
}

p::first-letter{
  text-transform: capitalize;
}

P::first-line{
  font-size: 32px;
}

p::selection{
  color: yellow;
}
