body
{
background-color: lightgray;
}

footer
{
  margin-top:50px;
}
 img
 {
   border-radius: 10px;
 }

 #contenedorestudios{
   font-family: helvetica;
   font-size: 16px;
 }

 #Encabezadoestudios{
   display: block;
   margin: 0 auto;
 }

 .linkfoot{
   font-family: impact;
   font-size: 14px;
 }

a[href^='html']{
  color: magenta;
}

img[src$=".png"]{
  border: solid 5px black;
}
